
.container{
    background:  #fff;
    padding: 0 4.3rem;
}

p {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(.9rem,1vw,1.1rem);
}

table th, table td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(.9rem,1vw,1.1rem);
    color: #333;
    font-weight: 500;
}

body {
    background: #818181;
  }


.footer  .table td, .footer .table th {
    padding: .1rem !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;

}

a{
    list-style: none;
    color: #333;
}

a:hover{
    list-style: none;
    color: #006937;
}


.custom-btn a{
    background:#ccc;
    color: #666;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    font-family: Arial;
    position:relative
}

.custom-btn a:after{
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-width: 0px 0px 13px 13px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.custom-btn a:hover{
   background: #05944f;
   list-style: none;
   color: #fff;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}

